#h4_1{
    font-family: 'Lobster', cursive;
     font-size:40px;
     padding-left:45%;
     margin-top:-5;
     
    }
#div_1{
    width:100%;
    height:40px;
    border:2px solid ;
    border-top:lightgray;
    border-radius:5px;
    text-align:top;
}
#div_2{
    width:90%;
    height:100%;
    margin-left :55px;
}


